@model CVProfile.Models.LoginViewModel
@{
    Layout = "_LoginLayout";
}
<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
            <img src="/Login/images/img-01.png" alt="IMG">
        </div>

        <form class="login100-form validate-form" asp-controller="Register" asp-action="Login">
            <span class="login100-form-title">
                ورود
            </span>

            <div class="wrap-input100 validate-input">
                <input asp-for="PhoneNumber" class="input100" placeholder="شماره تلفن">
                <span asp-validation-for="PhoneNumber" style="color: red"></span>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input">
                <input id="PhoneNumber" asp-for="PassWord" class="input100" placeholder="رمز عبور">
                <span asp-validation-for="PassWord" style="color: red"></span>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <div style="text-align:center" class="wrap-input100 validate-input">
                @*<button id="enablebtn" onclick="sendbtn()" type="button" class="btn btn-success ">ارسال مجدد کد فعالسازی</button>*@
                
            </div>

            <div style="text-align:right" class="wrap-input100 validate-input col-md-12">
                <label style="font-size:x-small" asp-for="RememberMe" class="form-check-label text-nowrap col-md-6"></label>
                <input style="left: 80px" asp-for="RememberMe" class="form-check-input col-md-6" type="checkbox" />

            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    ورود
                </button>
            </div>

            <div class="text-center p-t-12">
                <span class="txt1">
                    اکانت ندارید؟
                </span>
                <a class="txt2" href="/register/signup">
                    ثبت نام
                </a><br />
                <button class="txt2" id="enablebtn" onclick="sendbtn()">
                    فراموشی رمز عبور
                </button>
                <p id="timer"></p>
            </div>

        </form>
    </div>
</div>

@section scripts
{
    <script>
        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                $(display).html(minutes + ":" + seconds);
                if (--timer < 0) {
                    timer = duration;
                } 
            }, 1000);
        }

        var now = new Date().getTime();
        function Activatebtn() {
            $('#enablebtn').removeAttr('disabled');
            $('#timer').hide();
            $('').remove();
        }
        function disablebtn() {
            $('#timer').show();
            $('#enablebtn').attr('disabled', '');
        }

        function sendbtn() {
            var phonenumber = $('#PhoneNumber').val();
            if (phonenumber === '') {
                Swal.fire({
                    icon: 'info',
                    title: "شماره خود را وارد کنید",
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/register/ForgetPassword/",
                    data: "phonenumber=" + phonenumber,
                    success: function (response) {
                        if (response.status === 200) {
                            disablebtn();
                            Swal.fire({
                                icon: 'success',
                                title: response.message
                            });
                            setTimeout(Activatebtn, 61000);
                            let time = 120,
                                display = document.querySelector('#timer');
                            startTimer(time, display);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: response.message
                            });
                        }
                    }
                });
            }
        };

    </script>
}